---
// import '../styles/global.css';
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me"

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
const operatingSystem: string = "Linux";
const quantity = 3;
const footwear = "boots";
const student = false;
---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <h1 class="text-2xl">Hi, I'm miruoon 👋</h1>
    <h2 class="mt-2 max-w-[60ch]">
      I'm a japanese frontend / mobile development engineer. I'm currently working with Next.js/React Native, and TypeScript.
      Outside of work i'm learning Astro.js / Swift / Kotlin.
    </h2>
    <h2>Coffee / Pop punk / Quagsire(ヌオー) lover.</h2>
    <ul role="list" class="flex flex-row gap-2 mt-3">
      <li class="text-gray-700 hover:text-gray-500"><a href="http://">Github</a></li>
      <li>/</li>
      <li class="text-gray-700 hover:text-gray-500"><a href="http://">Zenn (only in japanese🙇)</a></li>
    </ul>
    <article class="mt-2">
      <p>My skills are:</p>
      <ul role="list">
        <li><span class="mr-2">🖊</span>HTML, CSS, TypeScript</li>
        <li><span class="mr-2">📦</span>React(Native), Next.js, Astro</li>
        <li><span class="mr-2">🌱</span>Swift, Kotlin</li>
        <li><span class="mr-2">👀</span>Flutter, Rust</li>
        <!-- {skills.map((skill) => <li class="skill">{skill}</li>)} -->
      </ul>
    </article>
  </Container>
</BaseLayout>