---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<article class="cursor dark:text-white border-dotted border-b-2 border-sky-400">
  <a href={`/blog/${post.slug}`}>
    <h1 class="font-semibold text-3xl leading-6">{post.data.title}</h1>
    <p class="text-xl leading-6 my-2">{post.data.description}</p>
  </a>
</article>