---
---

<footer class="mx-auto max-w-screen-md px-3 py-6">
  <div class="border-t border-gray-600 pt-5">
    <p class="text-sm text-gray-600 dark:text-gray-300">
      <small>
        Built with Astro by <a href="https://github.com/miily8310s" class="text-purple-400 font-semibold">miruoo</a>
      </small>
    </p>
  </div>
</footer>