---
import Social from './Social.astro';
---

<footer class="mx-auto max-w-screen-md px-3 py-6">
  <div class="border-t border-gray-600 pt-5">
    <p class="text-sm text-gray-600 dark:text-gray-300">Built with Astro by <a href="https://github.com/miily8310s" class="text-purple-400 font-semibold">miruoo</a></p>
  </div>
  <!-- FIXME: aboutページに移動 -->
  <!-- <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" /> -->
</footer>