---
import ThemeIcon from "./ThemeIcon.astro";
---
<header class="mx-auto max-w-screen-md px-3 py-6 flex flex-col gap-y-3 items-center justify-between sm:flex-row">
    <h1>
      <a href="/" class="text-lg font-bold text-slate-800 dark:text-zinc-200">miruoo's blog</a>
    </h1>
    <nav>
      <ul class="flex gap-x-3 items-center md:ml-auto">
        <li>
          <a href="/about/" class="text-gray-600 dark:text-zinc-200 hover:text-gray-900">About</a>
        </li>
        <li>
          <a href="/tags/" class="text-gray-600 dark:text-zinc-200 hover:text-gray-900">Tags</a>
        </li>
        <li>
          <ThemeIcon />
        </li>
      </ul>
    </nav>
</header>