---
---
<div class="mx-auto max-w-screen-lg px-3 py-6">
  <nav class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between">
    <header role="banner">
      <a href="/" class="text-lg font-bold text-slate-800">miruoo's blog</a>
    </header>
    <ul class="flex items-center gap-x-3" role="menubar">
      <li role="menuitem">
        <a href="/about/" class="text-gray-600 hover:text-gray-900">About</a>
      </li>
      <li role="menuitem">
        <a href="/blog/" class="text-gray-600 hover:text-gray-900">Blog</a>
      </li>
      <li role="menuitem">
        <a href="/tags/" class="text-gray-600 hover:text-gray-900">Tags</a>
      </li>
    </ul>
  </nav>
</div>